In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('agents.csv')

In [7]:
df

       Unnamed: 0  Listing_Id  Price Agency Commission            Agent
0               0   1530087.0  16500               35%            Flora
1               1   1530045.0  18000               35%      Jeffrey Liu
2               2   1529782.0   6800               35%      Jeffrey Liu
3               3   1531113.0  13000               35%      Jeffrey Liu
4               4   1531112.0  20000                 -       Miumiu.Lin
...           ...         ...    ...               ...              ...
26054       26054   1547770.0  17500                 -  Morgen property
26055       26055   1547769.0   9000               35%             Vera
26056       26056   1547768.0  22000                 -  Morgen property
26057       26057   1547767.0  24500                 -    William Zhang
26058       26058   1545976.0  18000                 -      Aubrey-Wang

[26059 rows x 5 columns]